
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-scroll-text .idyll-step {
  width: 50vw;
  position: relative;
  top: -130vh;
  padding: 4vw;
}

.idyll-text-container {
  height: 50vw;
}

.article-header {
  width: 50vw;
  height: 100%;
}

.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  right: 65px;
  top: 0;
  bottom: 0;
  width: calc(80vw - 600px);
  justify-content: center;
}

img {
  width: 80%;
}

.nodes {
  color: #38BA7D;
  display: inline;
}

.edges {
  color: #07ADBD;
  display: inline;
}

.unintentional {
  color: #38BA7D;
  display: inline;
}

.intentional {
  color: #Eb2f39;
  display: inline;
}

.yesVote {
  color: #00C49F;
}

.noVote {
  color: #FF8042;
}

label {
  margin-right: 10px;
}
